*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
*.pyc
*.class
.svn
*.svn-base
*.log
*.bak
*.tmp
*.swp
*.lock
*.zip
*.tar.gz
*.so
*.out
*.png
.cache/
Rplots.pdf
.Rhistory
ipython_log.py
Untitled0.ipynb
.ipynb_checkpoints
